{{- /* Styles */}}

{{- /* includes */}}
{{- $includes := slice }}
{{- $blank_css := resources.FromString "assets/css/includes-blank.css" " " }}
{{- $includes = $includes | append $blank_css }}

{{- if not (eq site.Params.assets.disableScrollBarStyle true) }}
    {{- $ScrollStyle := (resources.Get "css/includes/scroll-bar.css") }}
    {{- if $ScrollStyle }}
        {{- $includes = $includes | append $ScrollStyle }}
    {{- end }}
{{- end }}

{{- $includes_all := $includes | resources.Concat "assets/css/includes.css" }}

{{- $theme_vars := (resources.Get "css/core/theme-vars.css") }}
{{- $reset := (resources.Get "css/core/reset.css") }}
{{- $media := (resources.Get "css/core/zmedia.css") }}
{{- $license_css := (resources.Get "css/core/license.css") }}
{{- $common := (resources.Match "css/common/*.css") }}

{{- /* Safely concat common styles if any exist */}}
{{- $common_bundle := "" }}
{{- if $common }}
    {{- $common_bundle = $common | resources.Concat "assets/css/common.css" }}
{{- else }}
    {{- $common_bundle = resources.FromString "assets/css/common.css" " " }}
{{- end }}

{{- $chroma_styles := (resources.Get "css/includes/chroma-styles.css") | default (resources.FromString "assets/css/chroma-styles.css" " ") }}
{{- $chroma_mod := (resources.Get "css/includes/chroma-mod.css") | default (resources.FromString "assets/css/chroma-mod.css" " ") }}

{{- /* Bundle core CSS */}}
{{- $core := (slice $theme_vars $reset $common_bundle $chroma_styles $chroma_mod $includes_all $media) | resources.Concat "assets/css/core.css" | resources.Minify }}

{{- $extended := (resources.Match "css/extended/*.css") }}
{{- $extended_bundle := "" }}
{{- if $extended }}
    {{- $extended_bundle = $extended | resources.Concat "assets/css/extended.css" | resources.Minify }}
{{- else }}
    {{- $extended_bundle = resources.FromString "assets/css/extended.css" " " }}
{{- end }}

{{- /* Final bundle */}}
{{- $stylesheet := (slice $license_css $core $extended_bundle) | resources.Concat "assets/css/stylesheet.css"  }}

{{- if not site.Params.assets.disableFingerprinting }}
{{- $stylesheet := $stylesheet | fingerprint }}
<link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}" rel="preload stylesheet" as="style">
{{- else }}
<link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" rel="preload stylesheet" as="style">
{{- end }}